name: DevSecOps CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    # Checkout Code
    - name: Checkout Code
      uses: actions/checkout@v3

    # SonarQube Scan (Docker, PERMISSION FIXED)
    - name: SonarQube Analysis
      run: |
        docker run --rm \
          --user root \
          -v "$(pwd):/usr/src" \
          -w /usr/src \
          sonarsource/sonar-scanner-cli \
          -Dsonar.projectKey=arun-devops \
          -Dsonar.sources=. \
          -Dsonar.host.url=http://34.47.250.33:9831 \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.scanner.metadataFilePath=/usr/src/.scannerwork/report-task.txt

    # SonarQube Quality Gate (FAIL PIPELINE IF GATE FAILS)
    - name: SonarQube Quality Gate
      uses: sonarsource/sonarqube-quality-gate-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: http://34.47.250.33:9831

    # Build Docker Image
    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-app:latest .

    # Scan Docker Image (Trivy)
    - name: Trivy Image Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ubuntu
        #image-ref: ${{ secrets.DOCKER_USERNAME }}/devops-app:latest
        severity: CRITICAL,HIGH,MEDIUM,LOW
        exit-code: 1

    # Docker Login
    - name: Docker Login
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    # Push Docker Image
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/devops-app:latest
