name: DevSecOps CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:

    # 1. Checkout Source Code
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. SonarQube Analysis
    - name: SonarQube Analysis
      run: |
        docker run --rm \
          --user ${{ vars.USER }}  \
          -v "$(pwd):/usr/src" \
          -w /usr/src \
          sonarsource/sonar-scanner-cli \
          -Dsonar.projectKey=demo \
          -Dsonar.sources=. \
          -Dsonar.host.url=${{ vars.SONAR_HOST_URL }} \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.scanner.metadataFilePath=/usr/src/.scannerwork/report-task.txt

    # 3. SonarQube Quality Gate
    - name: SonarQube Quality Gate
      uses: sonarsource/sonarqube-quality-gate-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

    # 4. Build Docker Image
    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/devsecops-app-feb-2026:v1 .

    

    # 5. Docker Login
    - name: Docker Login
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Trivy Scan (Local Image)
      run: |
        docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v $HOME/.cache:/root/.cache \
          aquasec/trivy:latest image \
          --scanners vuln \
          --severity CRITICAL,HIGH,MEDIUM \
          --exit-code 1 \
          --ignore-unfixed \
          ${{ vars.IMAGE }}

    


    




          

    # 6. Push Docker Image
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/devsecops-app-feb-2026:v1


  

    # 8. Deploy to Local Server via SSH (ngrok)
    - name: Deploy to Docker Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ vars.DEPLOYMENT_SERVER_HOST }}
        username: ${{ vars.DEPLOYMENT_SERVER_USER }}
        key: ${{ vars.DEPLOYMENT_SERVER_SSH_KEY }}
        port: ${{ vars.DEPLOYMENT_SERVER_PORT }}
        script: |

          echo "Pulling latest image"
          docker pull ${{ secrets.DOCKER_USERNAME }}/devsecops-app-feb-2026:v1

          echo "Stopping existing container"
          docker stop devsecops-app || true
          docker rm devsecops-app || true

          echo "Starting new container"
          docker run -d \
            -p 9898:8000 \
            --name devsecops-app \
            ${{ secrets.DOCKER_USERNAME }}/devsecops-app-feb-2026:v1

          echo "Deployment completed"
