name: DevSecOps CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    # Checkout Code
    - name: Checkout Code
      uses: actions/checkout@v3

    # SonarQube Source Code Scan (SAST)
    - name: SonarQube Analysis
      run: |
        docker run --rm \
          -v "$(pwd):/usr/src" \
          sonarsource/sonar-scanner-cli \
          -Dsonar.projectKey=arun-devops \
          -Dsonar.sources=. \
          -Dsonar.host.url=http://13.232.4.242:9000 \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}

    # Build Docker Image
    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-app:latest .

    # Scan Docker Image (Trivy)
    - name: Trivy Image Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/devops-app:latest
        severity: CRITICAL,HIGH
        exit-code: 1

    # Login to Docker Hub
    - name: Docker Login
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    # Push Docker Image
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/devops-app:latest
