name: DevSecOps CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:

    # 1. Checkout Code
    - name: Checkout Code
      uses: actions/checkout@v3


    # 2. Set Dynamic Image Tag
    - name: Set Image Tag
      run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV


    # 3. SonarQube Analysis
    - name: SonarQube Analysis
      run: |
        docker run --rm \
          -v "$(pwd):/usr/src" \
          -w /usr/src \
          sonarsource/sonar-scanner-cli \
          -Dsonar.projectKey=demo \
          -Dsonar.sources=. \
          -Dsonar.host.url=${{ vars.SONAR_HOST_URL }} \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}


    # 4. Quality Gate
    - name: SonarQube Quality Gate
      uses: sonarsource/sonarqube-quality-gate-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}


    # 5. Build Image
    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/devsecops-app-feb-2026:${IMAGE_TAG} .


    # 6. Trivy Scan (Local Immutable Image)
    - name: Trivy Scan
      run: |
        docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v $HOME/.cache:/root/.cache \
          aquasec/trivy:latest image \
          --scanners vuln \
          --severity CRITICAL,HIGH,MEDIUM \
          --exit-code 1 \
          --ignore-unfixed \
          ${{ secrets.DOCKER_USERNAME }}/devsecops-app-feb-2026:${IMAGE_TAG}


    # 7. Docker Login
    - name: Docker Login
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin


    # 8. Push Immutable Image
    - name: Push Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/devsecops-app-feb-2026:${IMAGE_TAG}


    # 9. Deploy SAME Immutable Image
    - name: Deploy to Docker Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ vars.DEPLOYMENT_SERVER_HOST }}
        username: ${{ vars.DEPLOYMENT_SERVER_USER }}
        key: ${{ vars.DEPLOYMENT_SERVER_SSH_KEY }}
        port: ${{ vars.DEPLOYMENT_SERVER_PORT }}
        script: |

          IMAGE=${{ secrets.DOCKER_USERNAME }}/devsecops-app-feb-2026:${IMAGE_TAG}

          echo "Pulling audited image: $IMAGE"
          docker pull $IMAGE

          echo "Stopping existing container"
          docker stop devsecops-app || true
          docker rm devsecops-app || true

          echo "Running new container"
          docker run -d \
            -p 9898:8000 \
            --name devsecops-app \
            $IMAGE

          echo "Deployment completed"
